/*#bg{
    width:1080px;
    height: 600px;
}*/
/*.full{*/
    /*background: url('../../../assets/images/d1.jpg') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*-o-background-size: cover;*/
    /*height:100%;*/
/*}*/
.wrapper {
    width: 100%;
    background-color: #DCDCDC;
}

img {
    /*background-image: url("../../../assets/images/d1.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
}

#text {
    z-index:100;
    position:absolute;    
    color:white;
    font-size:50px;
    font-weight:bold;
    left:175px;
    top:310px;
}

#pText{
    position:absolute;
    color:white;
    left:175px;
    top:400px;
    font-size:18px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  background-color: black;
  /*background: */
  /* color overlay */ 
    /*linear-gradient(*/
      /*rgba(240, 212, 0, 0.45), */
      /*rgba(0, 0, 0, 0.45)*/
    /*),*/
    /* image to overlay */
    /*url("../../../assets/images/d2.jpg");*/
}

/* Custom footer CSS
-------------------------------------------------- */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}

/*.center {
    margin: auto;
    width: 30%;
    border: 0px solid green;
    padding: 0px;
}*/


