<navbar></navbar>

<div class="wrapper">
        <img src="../assets/images/d1.jpg" class="img-responsive" alt="Responsive image">
        <div class="sol-sm-6">
            <h1 id="text">HI, IAM DEEPAK CHAUHAN!</h1>
            <p id="pText">Software Engineer (MEAN Stack Developer),</p>
        </div>
</div>
<!--<div class="wrapper">
      <div class="container">
        <h1> Main content</h1>
    </div>
</div>
<div class="wrapper">
       <img src="../assets/images/d2.jpg" class="img-responsive" alt="Responsive image">
        <h1>More info!</h1>
  </div>-->
<!--<div class="container well">
	<h2><center>Web Stuff Goes Here</center></h2>
</div>-->


<!--<div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">About Me:</h3>
            <br>
            <div class = "col-md-4 center">
                <img src="../assets/images/w8lycl.png" class="img-circle" alt="the-brains">
                <h4 class = "footertext">Programmer</h4>
                <p class="footertext">You can thank all the crazy programming here to this guy.<br>
            </div>
        </div>  
   </div>
</div>      -->
        

<!--<div id="footer">
    <div class="container">-->
        <!--<div class="row">
            <h3 class="footertext">About Us:</h3>
            <br>-->
              <!--<div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Programmer</h4>
                  <p class="footertext">You can thank all the crazy programming here to this guy.<br>
                </center>
              </div>-->
              <!--<div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Artist</h4>
                  <p class="footertext">All the images here are hand drawn by this man.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Designer</h4>
                  <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                </center>
              </div>-->
            <!--</div>
            <div class="row">
            <p><center><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014</p></center></p>
        </div>-->
    <!--</div>
</div>-->
  