<navbar></navbar>
<div class = "container">
    <h3>My Contact Info:</h3>
    <div>
    <p id="ptext"> 
        <b>Address:</b> G-73, Sector-39, NOIDA, (U.P.)  <br>
        <b>Gmail:</b> dpkchauhan1994@gmail.com <br>
        <b>Facebook:</b> <a href="https://www.facebook.com/dpkchauhan2112">Deepak Chauhan</a><br>
        <b>Linkedin:</b> <a href="https://www.linkedin.com/in/deepak-chauhan-25495092/">Deepak Chauhan</a><br>
        <b>InstagramId:</b> <strong>itsd_2112</strong><br>
        <b>Mobile:</b> 8287067660 <br>
    </p>
    </div>
</div>