<navbar></navbar>
<div class="container">
    <h2>Skills:</h2>
    <div>
        <strong>Technical-Skills:</strong><br>
        <p>
            Node.js<br>
            ExpressJs Framework<br>
            Angular2<br>
            Javascript<br>
            Typescript<br>
            MongoDb<br>
            Mysql<br>
            C<br>
            Java<br>
            JSP<br>
            HTML<br>
            CSS<br>
            IDE: Eclipse Kepler, Visual studio code, Sublime, Atom
        </p>
    </div>
</div>