<nav class="navbar navbar-inverse ">
    <div class="container" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ItsD2112</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><strong>Home</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink = "/about"><span class="glyphicon glyphicon-user"><span><strong>About</strong></span></span></a></li>
                <li><a routerLink = "/skills"><span class="glyphicon glyphicon-certificate"><span><strong>Skills</strong></span></span></a></li>
                <li><a routerLink = "/education"><span class="glyphicon glyphicon-book"><span><strong>Education</strong></span></span></a></li>
                <li><a routerLink = "/contact"><span class="glyphicon glyphicon-phone-alt"><span><strong>Contact</strong></span></span></a></li>
                <!--<li><a routerLink = "/login"><span class="glyphicon glyphicon-log-in"><span><strong>Login</strong></span></span></a></li> -->
            </ul>
        </div>
    </div>
</nav>